{% extends "main.html" %} {% block main %}

<style>
  .reset_password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid rgb(180, 176, 176);
    border-radius: 8px;
  }
  .reset_password > .text {
    padding: 0 1rem;
    margin-top: 0;
  }
  .reset_password > h2 {
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
  .reset_password > a {
    text-decoration: underline;
    margin-bottom: 1rem;
  }
</style>

<!--Password Reset Complete-->
<section class="reset_password">
  <h2>Password reset complete</h2>
  <p>Your password has been set. You may go ahead and log in now.</p>
  <a href="{% url 'fapp:login' %}">Log in</a>
</section>

{% endblock %}
