{% extends 'main.html' %} {% block main %}

<style>
  .auth_form_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid rgb(180, 176, 176);
    border-radius: 8px;
  }
  .title {
    border-bottom: 1px solid rgb(180, 176, 176);
    width: 100%;
    text-align: center;
  }
  .auth_form_main > .form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 70%;
  }
  .auth_form_main > .form > input {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border-width: 1px;
  }
  .auth_form_main > .form > button {
    background-color: #fe724c;
    padding: 0.5rem;
    border: 0;
    color: white;
    font-weight: 700;
    border-radius: 8px;
  }
  .auth_form_main > .form > button:hover {
    background-color: #f56138;
    cursor: pointer;
  }
  .auth_form_main > p > a {
    text-decoration: underline;
  }
  .auth_form_main > p {
    margin: 1rem 0;
  }
  label {
    font-weight: 700;
  }
  @media screen and (max-width: 400px) {
    .auth_form_main {
      margin: 0 0.5rem;
    }
  }
</style>

<!--Reset Password-->
<section class="auth_form_main">
  <div class="title">
    <h1>Foodie Reset Password</h1>
  </div>

  <form method="POST" class="form">
    <p>
      Forgotten your password? Enter your email address below, and we'll email
      instructions for setting a new one.
    </p>
    {% csrf_token %} {{ password_reset_form }}
    <button type="submit">Send email</button>
  </form>
  <p>Remember password? <a href="{% url 'login' %}">Login</a></p>
</section>

{% endblock %}
