{% extends 'main.html' %} {% block main %}

<style>
  .reset_password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid rgb(180, 176, 176);
    border-radius: 8px;
  }
  .reset_password > .text {
    padding: 0 1rem;
    margin-top: 0;
  }
  .reset_password > h2 {
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
</style>

<!--Password reset sent-->
<section class="reset_password">
  <h2>Password reset sent</h2>
  <p class="text">
    We've emailed you instructions for setting your password, if an account
    exists with the email you entered. You should receive them shortly.
  </p>
  <p class="text">
    If you don't receive an email, please make sure you've entered the address
    you registered with, and check your spam folder.
  </p>
</section>

{% endblock %}
