{% extends 'main.html' %} {% block main %} 

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 3em;
  }
</style>

<!--container-->
<section class="container">

<!-- list of popular post-->
<section>
  <h2>Popular foodies</h2>
  {% if not popular %}
  Nothing found
  {% endif %}

  {% for post in popular %}
  <a href="{% url 'fapp:comments' post.id %}">
  {{post.body}}
  <p>{{post.upvote_set.all.count}} Upvotes<p>
  <p>{{post.downvote_set.all.count}} Downvotes</p>
 <p>Posted by {{post.created_by}} {{post.created_at | timesince}} ago</p>
  <hr>
  {% endfor %}
  </a>
</section>
<!-- end list of popular post-->


<!--list of posts-->
<section>
<form method="post" action="{% url 'fapp:addpost' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>

{% if not posts %}
<p>No posts available</p>
{% endif %}
{% for post in posts %}

<div id="{{post.id}}" style="border: 1px solid black; margin-bottom:2px;">
  <div>{{post.body}}</div>
  <div>
    <p>
      <a href="{% url 'fapp:upvote' post.id %}"
      >
      Upvote: {{post.upvote_set.all.count}}
      {% if request.user in post.upvote_set.all %}
      <h1>h</h1>
      {% endif %}
      <!-- {% for item in post.upvote_set.all %}
    <h1>{{ item.voted_by }}</h1>
    {% endfor %} -->
    </a>
  </p>
    <p>
      <a href="{% url 'fapp:downvote' post.id %}">
      Downvote: {{post.downvote_set.all.count}}
      </a>
    </p>
    <p>{{post.created_at | timesince}} ago</p>
    <p>posted by:  <a href="{% url 'fapp:profile' post.created_by.id %}">{{post.created_by}} </a></p>
    <p>
      <a href="{% url 'fapp:comments' post.id %}">{{post.comment_set.all.count}} comment
        {% if post.comment_set.all.count >= 2 %}
        s
        {% endif %}
      </a>
    </p>
  </div>
</div>
{% endfor %} 
</section>
<!-- end list of  posts-->

<!-- Ads-->
<section>
  <h2>Your Recent foodies</h2>
  
  {% if not request.user.is_authenticated %}
  <p><a href="{% url 'fapp:login' %}">Sign in to see recent foodies</a></p>
  {% elif not recent %}
   <p> You haven't posted a foodie yet </p>
  {% endif %}

  {% for post in recent %}
  <a href="{% url 'fapp:comments' post.id %}">
  {{post.body}}
  <p>{{post.upvote_set.all.count}} Upvotes<p>
  <p>{{post.downvote_set.all.count}} Downvotes</p>
  <hr>
  {% endfor %}
  </a>
</section>
<!-- end of Ads-->

</section>
<!-- end of container-->


{% endblock %}
