{% extends 'main.html' %} {% block main %} 

<form method="post" action="{% url 'fapp:addpost' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>
<!--list of posts-->
{% if not posts %}
<p>No posts available</p>
{% endif %}
{% for post in posts %}
<style>
    div{
        white-space: pre-line;
    }
</style>
<!-- use sections, articles, aside, h1, etc-->
<div id="{{post.id}}" style="border: 1px solid black; margin-bottom:2px;">
  <div>{{post.body}}</div>
  <div>
    <p>
      <a href="{% url 'fapp:upvote' post.id %}"
      >
      Upvote: {{post.upvote_set.all.count}}
      {% if request.user in post.upvote_set.all %}
      <h1>h</h1>
      {% endif %}
      <!-- {% for item in post.upvote_set.all %}
    <h1>{{ item.voted_by }}</h1>
    {% endfor %} -->
    </a>
  </p>
    <p>
      <a href="{% url 'fapp:downvote' post.id %}">
      Downvote: {{post.downvote_set.all.count}}
      </a>
    </p>
    <p>{{post.created_at | timesince}} ago</p>
    <p>{{post.created_by}}</p>
    <p>{{post.comment_set.all.count}} comments</p>
  </div>
</div>
{% endfor %} 
{% endblock %}
