{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/navbar.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/middle_column.css' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="manifest"
      href="{% static 'images/favicons/site.webmanifest' %}"
    />
    <script defer src="{% static 'js/app.js' %}"></script>
    <title>Foodie</title>
    <style>
      .app_container {
        display: flex;
        flex-direction: column;
      }

      .main_content {
        margin-top: 3rem;
      }

      .message {
        text-align: center;
        padding: 1rem;
        background: rgb(238, 234, 230);
        width: 40%;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 8px;
      }
    </style>
  </head>

  <body style="user-select: none">
    <div class="app_container">
      {% include 'navbar.html' %}
      <main class="main_content">
        {% if messages %} {% for message in messages %}
        <p class="message">{{ message }}</p>
        {% endfor %} {% endif %} {% block main %} {% endblock main%}
      </main>
      {% include 'footer.html' %}
    </div>
  </body>
</html>
