{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/app.js' %}"></script>
    <title>Foodie</title>
    {% tailwind_css %}
</head>
<body>
    {% include 'navabar.html' %}
    <main>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        {% block main %}
        {% endblock main%}
    </main>
</body>
</html>